@model IEnumerable<NewRLWeb.Models.News>
<link href="~/Content/News/Index.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
@* 修改人：邢亚男 修改时间：2017/02/22 修改内容：ul显示 *@
<ul class="media-list">
    @foreach (var item in Model)
    {
        <li class="media">
            <a class="media-left" href="News/News_View/@item.NewsID">
                <img src="~/Images/image001.jpg" @*src=@item.PhotoAddress*@ />
            </a>
            <div class="media-body">
                <a class="media-heading content-heading" href="News/News_View/@item.NewsID">@item.Title</a>
                <p class="text-news content-c">
                    @item.Abstract
                </p>
            </div>
            <div class="media-right content-right">
                <span></span>
                <span>@item.Author</span><br />
                <span>@item.Publicationtime.ToShortDateString()</span>
            </div>
        </li>
    }
</ul>
