
/*--baner--*/
.banner {
	/*background-image:url(~/Images/a.jpg) ;*/
    /*background-image:url(E:\vs2013\日立web\TFS_NewRLWeb\RLWZ\RLWZ\Images\a.jpg);*/
     background: url("/Images/a.jpg") no-repeat;
    background-position:center;
    background-repeat:no-repeat;
	-webkit-background-size:cover;
	background-size:cover;
	-moz-background-size:cover;
	position: relative;
}
.banner-info{
	background-image: url(E:\vs2013\日立web\TFS_NewRLWeb\RLWZ\RLWZ\Images\dott.png);
     background-repeat:repeat;
	padding: 4em 0;
}
.header-left img {
    width: 100%;
    border: 5px solid rgba(255, 255, 255, 0.68);
}
.header-right {
    padding-left: 3em;
}
.header-right h1 {
    font-size: 2.5em;
    color: #fff;
    margin: 0.5em 0 0;
}
.header-right h2 {
    font-size: 1.2em;
    color: #000;
    background: #F3E000;
    display: inline-block;
    padding: .5em 1.5em;
    position: relative;
}
.header-right h2:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -9px;
    left: 12px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #F3E000 transparent transparent transparent;
}
.header-right h6 {
    font-size: 1em;
    color: #C7C7C7;
    margin-top: 0.8em;
    letter-spacing: 6px;
}
ul.address {
    margin-top: 2em;
    border-top: 1px solid #AFAFAF;
    padding-top: 0.5em;
}
ul.address li {
    display: block;
}
ul.address li ul.address-text li {
    display: inline-block;
    font-size: 1.2em;
    color: #fff;
    margin-top: 1em;
	font-weight: 100;
}
ul.address li ul.address-text li:nth-child(1){
	width: 20%;
}
ul.address li ul.address-text li a {
    color: #fff;
	text-decoration:none;
}
ul.address li ul.address-text li a:hover{
    color: #0FF;
}
