@model NewRLWeb.Models.Album

@{
    ViewBag.Title = "Addphotos";
    if (ViewBag.Reload != null)
    {
        bool isreload = ViewBag.Reload;
        if (isreload)
        {
            Layout = "~/Views/Shared/_Manage.cshtml";
        }
    }
}
<script type="text/javascript">
    var PArray = "";
    var count = 1;
    var coo = count;
    function showPreview(source) {
        if (!isPicFile(source)) {
            alert("您选择的文件中有非图片文件");
            source.outerHTML = source.outerHTML;//清空file的value
            return false;
        }
        source.style.display = 'none';
        var co;
        var cooo = count;
        var picSrc = "" + co + "" + "img";
        for (co = coo - 1; source.files[co] != null; co++) {
            var div = document.getElementById("divMain");
            var img1 = document.createElement("div");
            img1.style.width = "20%";
            img1.style.float = "left";
            img1.innerHTML = "<img display='' id='" + cooo + "'  style='width:100%;height:150px;border-color:black;border:2px;border-style:dashed;' onclick='clickImage(this)' />";
            divMain.appendChild(img1);
            var img = document.getElementById("" + cooo + "");
            img.src = window.URL.createObjectURL(source.files[co]);
            cooo++;
            count++;
        }
        var Picfile = document.createElement("div");
        Picfile.style.width = "20%";
        Picfile.style.float = "left";
        Picfile.innerHTML = "<div style='height150px; width:229px'><input type='file' id='" + picSrc + "' multiple='multiple' style='margin-left:40px; margin-top:30px' name='files' value='继续选择照片'  onchange='showPreview(this)' /></div>";
        divMain.appendChild(Picfile);
    }
    function isPicFile(filename) {
        for (var countFile = 0; filename.files[countFile] != null; countFile++) {
            var file1 = filename.files[countFile];
            if (file1.type == "image/jpeg" || file1.type == "image/png") {
            }
            else {
                return false;
            }
        }
        return true;
    }
    function clickImage(Img) {
        PArray = PArray + Img.id + "/";
        //alert(PArray);
        Img.style.display = 'none';
    }
    function clickSub() {
        document.getElementById("txt1").value = PArray;
        //if (document.getElementById("AlbumName").value == "" || document.getElementById("AlbumType").value == "") {
        //    alert("请在每个输入框输入合法内容");
        //    return 0;
        //}
        document.getElementById("formMain").submit();
    }
</script>
<legend>Addphotos</legend>
<body>
    @using (Html.BeginForm("MultiUpload", "Album", FormMethod.Post, new { id = "formMain", enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Albumname)
                </div>
                @Html.TextBoxFor(model => model.Albumname, new { @class = "form-control" })
            </div>
            <div class="col-xs-6 col-md-4">
                <input type="file" multiple="multiple" required="required" name="files" id="0img" onchange="showPreview(this)" style="width:100%;">
            </div>
        </div>
        <br />
        <div id="divMain" style="min-height: 410px; position: relative">

            <input type="text" id="txt1" readonly="readonly" style="display:none;" />
        </div>



        @*<div id="uploader-demo"></div> <!--这是存放图片的容器-->
            <div id="fileList" class="uploader-list"></div>
            <div id="filePicker">选择图片</div>*@
        <br />
        <div class="row">
            <div class="col-xs-12 col-md-8">
                @Html.ActionLink("返回", "List", "Album", FormMethod.Get)
            </div>
            <div class="col-xs-6 col-md-4">
                <p>
                    <input type="submit" name="save" value="save" style="right: 13%; position: absolute; bottom: 20px; " @*onclick="clickSub()"*@ />
                </p>
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
