@model IEnumerable<NewRLWeb.Models.Photos>

@{
    ViewBag.Title = "ChangeAlbumDetail";
}

<h2>ChangeAlbumDetail</h2>

<style>
    .img {
        width: 32%;
        height: auto;
        margin-top:10px;
    }

    .imgBox {
        width: 33.3%;
        height: 36%;
        
    }
</style>

<script type="text/javascript">

</script>

@foreach (var a in Model)
{
    <a class="imgBox" href="#" onclick="a()"><img class="img" src="@a.Address" alt="加载失败！" name="@a.PhotoID" /></a>
}