@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="title">
        <span class="line"></span>
        <h3>
            关于我们
        </h3>
    </div>
    <div class="row clearfix">
        <div class="col-md-4 ">
            <div class="each-part academic_part">
                <a href="../Academic/HomeIndex">
                    <div class="shade"></div>
                    <p class="text">
                        <span>学术交流</span>
                    </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="each-part project_part">
                <a href="../Project/Index">
                    <div class="shade"></div>
                    <p class="text">
                        <span>项目案例</span>
                    </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="each-part rules_part">
                <a href="../Rules/Index">
                    <div class="shade"></div>
                    <p class="text">
                        <span>管理条例</span>
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class=" welcome-c">
        <div class="welcome">
            <div class="s"></div>
            <p>
                长春理工大学.日立项目组<br />
                期待你的加入...
            </p>
        </div>
    </div>
</body>
</html>
