<!--2017.2.27 BLM-->
<div class="sidebar-nav">
    <form class="search form-inline">
        <input type="text" placeholder="搜索...">
    </form>
    <a href="#" class="nav-header">
        <i class="icon-news">
        </i>新闻管理
    </a>
    <ul class="nav nav-list">
        <li class="act"><a href="/News/List">新闻列表</a></li>
        <li class="act"><a href="/News/Create">新闻增加</a></li>
        <li class="act"><a href="/News/DeleteList">新闻删除</a></li>
    </ul>
    <a href="#" class="nav-header">
        <i class="icon-notice">
        </i>公告管理
    </a>
    <ul class="nav nav-list">
        <li class="act"><a href="/Notice/List">公告列表</a></li>
        <li class="act"><a href="/Notice/Create">公告增加</a></li>
        <li class="act"><a href="/Notice/DeleteList">公告删除</a></li>
    </ul>
    <a href="#" class="nav-header">
        <i class="icon-album">
        </i>相册管理
    </a>
    <ul class="nav nav-list ">
        <li class="act"><a href="/Album/List">      相册列表</a></li>
        <li class="act"><a href="/Album/Create">    相册增加</a></li>
        <li class="act"><a href="/Album/DeleteList">相册删除</a></li>
    </ul>
    <a href="#" class="nav-header ">
        <i class="icon-graduate">
        </i>毕业生管理
    </a>
    <ul class="nav nav-list ">
        <li class="act"><a href="/Graduate/List">      毕业生列表</a></li>
        <li class="act"><a href="/Graduate/Create">    毕业生增加</a></li>
        <li class="act"><a href="/Graduate/DeleteList">毕业生删除</a></li>
    </ul>
    <a href="#" class="nav-header">
        <i class="icon-contact">
        </i>交流会管理
    </a>
    <ul class="nav nav-list ">
        <li class="act"><a href="/Academic/List">      交流会列表</a></li>
        <li class="act"><a href="/Academic/Create">    交流会增加</a></li>
        <li class="act"><a href="/Academic/DeleteList">交流会删除</a></li>
    </ul>
    <a href="#" class="nav-header">
        <i class="icon-manage">
        </i>项目管理
    </a>
    <ul class="nav nav-list ">
        <li class="act"><a href="/Project/List">      项目列表</a></li>
        <li class="act"><a href="/Project/Create">    项目增加</a></li>
        <li class="act"><a href="/Project/DeleteList">项目删除</a></li>
    </ul>
    <a href="#" class="nav-header">
        <i class="icon-manage">
        </i>用户管理
    </a>
    <ul class="nav nav-list ">
        <li class="act"><a href="/Users/List">      用户列表</a></li>
        <li class="act"><a href="/Users/Create">    用户增加</a></li>
        <li class="act"><a href="/Users/DeleteList">用户删除</a></li>
    </ul>
    <a href="#" class="nav-header">
        <i class="icon-manage">
        </i>类别管理
    </a>
    <ul class="nav nav-list ">
        <li class="act"><a href="/Types/List">      大类列表</a></li>
        <li class="act"><a href="/Types/Create">    大类增加</a></li>
    </ul>
    <a href="/Rules/Edit" class="nav-header">
        <i class="icon-manage">
        </i>    条例管理
    </a>
</div>
