@model IEnumerable<NewRLWeb.Models.Large_type>

@{
    ViewBag.Title = "DeleteList";
}

<script>
    $("#chkAll").click(function () {
        if (this.checked) {
            $("input[name='checks']").each(function () { this.checked = true; });
        }
        else {
            $("input[name='checks']").each(function () { this.checked = false; });
        }
    });
</script>

<h2>DeleteList</h2>

@*<p>
    @Ajax.ActionLink("Create New", "Create", "Types", new AjaxOptions() { UpdateTargetId = "mainContent", HttpMethod = "Get", OnBegin = "active", InsertionMode = InsertionMode.Replace })
</p>*@
@using (Ajax.BeginForm("MultDelete", "Types", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "mainContent", InsertionMode = InsertionMode.Replace }))
{
<table border='1' cellspacing="0" cellpadding="0">
    <tr>
        <th>
            <input type="checkbox" id="chkAll" />全选
        </th>
        <th>编号</th>
        <th>@Html.DisplayNameFor(model => model.L_Type)</th>

    </tr>
    @{var i = 0;}
    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td>
                @*@Html.CheckBox("checks", new { value = @ })*@
                <input type="checkbox" id="checks" name="checks" value="@item.ID" />
            </td>
            <td class='onecenter'>
                @i
            </td>
            <td class='onecenter'>
                @Html.DisplayFor(modelItem => item.L_Type)
            </td>
        </tr>
    }   
</table>
    <input type="submit" name="BtnDelete" value="删除" />
}